.pre-views-car-box {
    overflow: hidden;
}
.pre-views-car-box .pre-views-box, .pre-views-car-box .pre-cart-box { float: left; width: 50%;}
.pre-views-car-box .btn {
    padding:0;
    margin:0;
    display: block;
    width: 100%; height: auto; line-height: 25px;
    text-transform: capitalize;
}
.pre-views-car-box .pre-views-box .btn {
    border-color: var(--pre-views_bg);
    color: var(--pre-views_color);
}
.pre-views-car-box .pre-views-box .btn.btn-effect-default:before {
    background-color: var(--pre-views_bg);
}
.pre-views-car-box .pre-views-box .btn.btn-effect-default:hover, .pre-views-car-box .pre-views-box .btn.btn-effect-default.active {
    border-color: var(--pre-views_border_hover);
    background-color: var(--pre-views_bg_hover);
    color: var(--pre-views_color_hover);
}

.pre-views-car-box .pre-cart-box .btn {
    border-color: var(--pre-cart_bg);
    color: var(--pre-cart_color);
}
.pre-views-car-box .pre-cart-box .btn.btn-effect-default:before {
    background-color: var(--pre-cart_bg);
}
.pre-views-car-box .pre-cart-box .btn.btn-effect-default:hover, .pre-views-car-box .pre-cart-box .btn.btn-effect-default.active {
    border-color: var(--pre-cart_border_hover);
    background-color: var(--pre-cart_bg_hover);
    color: var(--pre-cart_color_hover);
}


@media (max-width: 600px) {
    .pre-views-car-box .pre-views-box,
    .pre-views-car-box .pre-cart-box { width: 100%; text-align: center}
}
