.pre-button-cart-box .btn {
    padding:var(--pre-button-cart-padding);
    margin:var(--pre-button-cart-margin);
    border-color: var(--pre-button-cart-bg_button);
    display: inline-block;
    color: var(--pre-button-cart-color_button);
    width: auto; height: auto; line-height: 25px;
}
.pre-button-cart-box .btn.btn-effect-default:before {
    background-color: var(--pre-button-cart-bg_button);
}
.pre-button-cart-box .btn.btn-effect-default:hover:before {
    background-color: var(--pre-button-cart-bg_button_hover);
}
.pre-button-cart-box .btn.btn-effect-default:hover {
    color: var(--pre-button-cart-color_button_hover);
}