.pre-box-sale .pre-box-sale__content ul {
    list-style: none;
}
.pre-box-sale .pre-box-sale__content ul, .pre-box-sale .pre-box-sale__content ol {
    list-style: none;
}

.pre-box-sale .pre-box-sale__content ul li, .pre-box-sale .pre-box-sale__content ol li {
    margin-top: 10px;
    position: relative;
    padding-right: 10px;
    padding-left: 22px;
}
.pre-box-sale .pre-box-sale__content ul li:after {
    content: "";
    height: 15px;
    width: 15px;
    background-image: url('views/plugins/product-element/assets/images/sale/check2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}
.pre-box-sale .pre-box-sale__content ol li:after {
    content: "";
    height: 15px;
    width: 15px;
    background-image: url('views/plugins/product-element/assets/images/sale/Gift2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}